<form method="post" action="/generate/table">
    <div class="container">
        <label for="" class=""></label>
        <div class="mb-3">
          <label for="contructorName" class="form-label">Nome do(a) Construtor(a)</label>
          <input type="text" class="form-control" id="contructorName" aria-describedby="emailHelp" value="Humberto de Paula Peixoto">
        </div>
        <div class="row">
            <div class="col">
                <label for="contructorName" class="form-label">Ano de Início da Obra</label>
                <input type="number" class="form-control" id="constructionYearStart" aria-describedby="emailHelp" value="Humberto de Paula Peixoto">
            </div>
            <div class="col">
                <label for="contructorName" class="form-label">Período da obra (em meses)</label>
                <input type="number" class="form-control" id="constructionTimeByMonths" aria-describedby="emailHelp" value="Humberto de Paula Peixoto">
            </div>
        </div> 
        <div class="mb-3">
            <label for="contructorName" class="form-label">Tempo de obra (em meses)</label>
            <input type="number" class="form-control" id="contructorName" aria-describedby="emailHelp">
        </div>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>