<!doctype html>
<html lang="pt-br">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" type="text/css"
            href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        {% endblock %}

       
        {% endblock %}
    </head>

    <body>
        <!-- Your page content -->
        {% block content %}{% endblock %}
        <form method="post" action="/generate/notes">
            <div class="container">


                <h1>Dados da Obra</h1>
                <div class="row justfy-content-center align-items-center">
                    <div class="col">
                        <label for="constructorName" class="form-label">Nome do(a) Construtor(a)</label>
                        <input required type="text" class="form-control" name="constructorName" aria-describedby="emailHelp" placeholder="Humberto de Paula Peixoto">
                    </div>
                </div>


                <div class="row justify-content-center align-items-center" style="margin-top: 1.5rem;">
                    <h4>Datas e Valores</h4>
                    <div class="col">
                        <label for="constructionYearStart" class="form-label">Ano de Início da Obra</label>
                        <input required type="text" class="form-control" name="constructionYearStart" aria-describedby="emailHelp" placeholder="2023">
                    </div>
                    <div class="col">
                        <label for="constructionYearEnd" class="form-label">Ano de Término da Obra</label>
                        <input required type="text" class="form-control" name="constructionYearEnd" aria-describedby="emailHelp" placeholder="2025">
                    </div>
                </div>
                <div class="row justfy-content-center align-items-center">
                    <div class="col">
                        <label for="constructionMonthStart" class="form-label">Mês de Início da obra</label>
                        <select required class="form-select" name="constructionMonthStart">
                            <option value="None">Selecionar Mês</option>
                            <option value="janeiro">Janeiro</option>
                            <option value="fevereiro">Fevereiro</option>
                            <option value="março">Março</option>
                            <option value="abril">Abril</option>
                            <option value="maio">Maio</option>
                            <option value="junho">Junho</option>
                            <option value="julho">Julho</option>
                            <option value="agosto">Agosto</option>
                            <option value="setembro">Setembro</option>
                            <option value="outubro">Outubro</option>
                            <option value="novembro">Novembro</option>
                            <option value="dezembro">Dezembro</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="constructionMonthEnd" class="form-label">Mês de Início da obra</label>
                        <select required class="form-select" name="constructionMonthEnd">
                            <option value="None">Selecionar Mês</option>
                            <option value="janeiro">Janeiro</option>
                            <option value="fevereiro">Fevereiro</option>
                            <option value="março">Março</option>
                            <option value="abril">Abril</option>
                            <option value="maio">Maio</option>
                            <option value="junho">Junho</option>
                            <option value="julho">Julho</option>
                            <option value="agosto">Agosto</option>
                            <option value="setembro">Setembro</option>
                            <option value="outubro">Outubro</option>
                            <option value="novembro">Novembro</option>
                            <option value="dezembro">Dezembro</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col">
                        <label for="notePriceNumber" class="form-label">Valor do Recibo</label>
                        <input required type="text" class="form-control" name="notePriceNumber" aria-describedby="emailHelp" placeholder="1835.32">
                    </div>
                    <div class="col">
                        <label for="notePriceText" class="form-label">Valor do Recibo (Por escrito)</label>
                        <input required type="text" class="form-control" name="notePriceText" aria-describedby="emailHelp" placeholder="mil oitocentos e vinte e cinco reais e trinta e dois centavos">
                    </div>
                </div>


                <div class="row justify-content-center align-items-center" style="margin-top: 1.5rem;">
                    <h4>Endereço</h4>
                    <div class="col">
                        <label for="constructionRoad" class="form-label">Rua da Obra</label>
                        <input required type="text" class="form-control" name="constructionRoad" aria-describedby="emailHelp" placeholder="R. São Luiz">
                    </div>
                    <div class="col">
                        <label for="constructionRoadNumber" class="form-label">Número da Obra</label>
                        <input required type="text" class="form-control" name="constructionRoadNumber" aria-describedby="emailHelp" placeholder="721">
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col">
                        <label for="constructionComplement" class="form-label">Complemento</label>
                        <input required type="text" name="constructionComplement" class="form-control" placeholder="Casa 09">
                    </div>
                </div>  
                <div class="row justify-content-center align-items-center">
                    <div class="col">
                        <label for="constructionCity" class="form-label">Cidade</label>
                        <input required type="text" name="constructionCity" class="form-control" placeholder="Marília">
                    </div>
                    <div class="col">
                        <label for="federalStateAbreviation" class="form-label">Unidade Federativa</label>
                        <select required class="form-select" name="federalStateAbreviation">
                            <option         >Selecione uma Unidade Federativa</option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PR">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SP">SP</option>
                            <option value="SC">SC</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>
                </div> 
                
                
                <h1 style="margin-top: 1.5rem;">Dados do(a) Emitente da Nota</h1>
                <div class="row justfy-content-center align-items-center">
                    <h4>Identificação do Emitente</h4>
                    <div class="col">
                        <label for="noteEmiterName" class="form-label">Nome</label>
                        <input required type="text" class="form-control" name="noteEmiterName" aria-describedby="emailHelp" placeholder="Fernanda Paiva da Silva Gomes">
                    </div>
                </div>
                <div class="row justfy-content-center align-items-center">
                    <div class="col-5">
                        <label for="noteEmiterCPF" class="form-label">CPF</label>
                        <input required type="text" class="form-control" name="noteEmiterCPF" aria-describedby="emailHelp" placeholder="61100000080">
                    </div>
                    <div class="col">
                        <label for="noteEmiterRG" class="form-label">RG</label>
                        <input required type="text" class="form-control" name="noteEmiterRG" aria-describedby="emailHelp" placeholder="657009301">
                    </div>
                    <div class="col">
                        <label for="noteEmiterRGOrganEmiter" class="form-label">Órgão Emissor RG</label>
                        <input required type="text" class="form-control" name="noteEmiterRGOrganEmiter" aria-describedby="emailHelp" placeholder="SSP-SP">
                    </div>
                </div>


                <div class="row justify-content-center align-items-center" style="margin-top: 1.5rem;">
                    <h4>Endereço do Emitente</h4>
                    <div class="col">
                        <label for="noteEmiterRoad" class="form-label">Rua</label>
                        <input required type="text" class="form-control" name="noteEmiterRoad" aria-describedby="emailHelp" placeholder="AV. Sampaio Vnameal">
                    </div>
                    <div class="col">
                        <label for="noteEmiterRoadNumber" class="form-label">Número</label>
                        <input required type="text" class="form-control" name="noteEmiterRoadNumber" aria-describedby="emailHelp" placeholder="220">
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col">
                        <label for="noteEmiterRoadComplement" class="form-label">Complemento</label>
                        <input required type="text" name="noteEmiterRoadComplement" class="form-control" placeholder="Casa 09">
                    </div>
                    <div class="col">
                        <label for="noteEmiterCEP" class="form-label">CEP</label>
                        <input required type="text" class="form-control" name="noteEmiterCEP" aria-describedby="emailHelp" placeholder="17000100">
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col">
                        <label for="noteEmiterCity" class="form-label">Cidade</label>
                        <input required type="text" name="noteEmiterCity" class="form-control" placeholder="Marília">
                    </div>
                    <div class="col">
                        <label for="noteEmitorFederalStateAbreviation" class="form-label">Unidade Federativa</label>
                        <select required class="form-select" name="noteEmitorFederalStateAbreviation">
                            <option         >Selecione uma Unidade Federativa</option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PR">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SP">SP</option>
                            <option value="SC">SC</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>
                </div>


                <div class="row justfy-content-center align-items-center">
                    <h4 style="margin-top: 1.5rem;">Contato do Emitente</h4>
                    <div class="row">
                        <div class="col">
                            <label for="noteEmiterCellPhone" class="form-label">Telefone Celular</label>
                            <input required type="tel" name="noteEmiterCellPhone" class="form-control" placeholder="(99) 99999-9999">
                        </div>
                        <div class="col">
                            <label for="noteEmiterFixedPhone" class="form-label">Telefone Resnameencial</label>
                            <input type="tel" name="noteEmiterFixedPhone" class="form-control" placeholder="(99) 99999-9999">
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center align-items-center">
                    <div class="col m-1 p-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        
    </body>
    
</html>